<?xml version='1.0' encoding='utf-8'?>
<widget id="io.github.cedced19.warnfamily" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Warn Family</name>
    <description>
        An application to warn automatically your family when your phone is unloaded, when you go home later, and so.
    </description>
    <author email="cedced19@gmail.com" href="https://cedced19.github.io">
        Cédric Jung
    </author>
    <platform name="android">
        <icon density="ldpi" src="res/icons/android/icon-36-ldpi.png" />
        <icon density="mdpi" src="res/icons/android/icon-48-mdpi.png" />
        <icon density="hdpi" src="res/icons/android/icon-72-hdpi.png" />
        <icon density="xhdpi" src="res/icons/android/icon-96-xhdpi.png" />
        <icon density="xxhdpi" src="res/icons/android/icon-144-xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icons/android/icon-192-xxxhdpi.png" />
    </platform>
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#C0392B" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="market:*" />
    <engine name="android" spec="~5.1.1" />
    <plugin name="cordova-plugin-android-permissions" spec="~0.10.0" />
    <plugin name="cordova-plugin-sms" spec="~1.0.5" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-statusbar" spec="~2.1.3" />
</widget>
