<language class="app-page">
    <header class="header-bar">
        <div class="center">
            <button class="btn icon icon-arrow-back pull-left" data-navigation="$previous-page"></button>
            <h1 class="title">Warn Family</h1>
        </div>
    </header>
    <div class="content">
        <div class="padded-full">
            <h1 data-i18n="text: language"></h1>
            <p data-i18n="text: language_select"></p>
            <ul class="list">
                <li class="padded-for-list">
                    <label class="radio">
                        <input type="radio" name="language" value="en">
                        English
                        <span></span>
                    </label>
                </li>
                <li class="padded-for-list">
                    <label class="radio">
                        <input type="radio" name="language" value="fr">
                        Français
                        <span></span>
                    </label>
                </li>
                <li class="padded-for-list">
                    <label class="radio">
                        <input type="radio" name="language" value="de">
                        Deutsch
                        <span></span>
                    </label>
                </li>
            </ul>
            <div class="padded-bottom"></div>
            <button class="btn fit-parent primary" data-i18n="text: language_btn" id="language-btn"></button>
        </div>
    </div>
</language>
